<% include ./partials/header %>

<link rel="stylesheet" type="text/css" href="/stylesheets/aboutUs.css">
</head>

<body>

<div class="super_container">
<a href="#content" class="back-to-top"></a>

<!-- Header -->
<header class="header trans_400">
    <div class="header_content d-flex flex-row align-items-center justify-content-center trans_400">

        <!-- Logo -->
        <div class="logo">
            <a href="index.html">
                <div class="logo-img" style="background-image:url(images/logo2.png)"></div>
            </a>
            <div class="hamburger"><div></div><div></div><div></div></div>
        </div>

        <!-- Main Navigation -->
        <nav class="main_nav">
            <ul class="d-flex flex-row align-items-start justify-content-start">
                <li><a href="/">Home<div><div></div><div></div><div></div></div></a></li>
                <li><a href="services">Services<div><div></div><div></div><div></div></div></a></li>
                <li><a href="products">Products<div><div></div><div></div><div></div></div></a></li>
                <li class="active"><a href="aboutUs">About Us<div><div></div><div></div><div></div></div></a></li>
				<li ><a href="appointment" data-toggle="modal" data-target="#addpage">Book Appointment<div><div></div><div></div><div></div></div></a></li>                			
			</ul>
        </nav>

    </div>
</header>
<!-- //Header -->


<!-- Home (Story) -->
<div class="home">
	<div class="parallax_background" data-image-src="images/aboutUs.jpg"></div>
	<div class="home_container">
		<div class="container">
			<div class="row">
				<div class="col-xl-8">
					<div class="section_title_container">
						<div class="section_title"><h1>Our story</h1></div>
					</div>
				</div>
			</div>
			<div class="row about_row">
				<div class="col-lg-7">
					<div class="about_text">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum quis sem sed pharetra. Morbi tempus lobortis nunc non commodo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi enim orci, commodo quis lacinia ac, scelerisque at dui. Aliquam at augue et nulla euismod aliquet ut a nisi. Phasellus a neque eleifend, lacinia felis ut, vestibulum mi. Aliquam interdum, velit non elementum pulvinar, metus neque lobortis eros, sed sodales magna justo quis lectus. Sed consequat leo.</p>
					</div>
				</div>
			</div>
			<!-- <div class="row about_link_row">
				<div class="col">
					<div class="home_link"><a href="#">Read More</a></div>
				</div>
			</div> -->
		</div>
	</div>

	<!-- Scroll Down -->
	<div class="scroll_to scroll_down" data-scroll-to="#team">
		<div class="scroll_icon">
			<div class="chevron"></div>
			<div class="chevron"></div>
			<div class="chevron"></div>
		</div>
		<div class="scroll_text">Scroll down</div>
	</div>
</div>
<!-- //Home (Story) -->

<!-- Team Details -->
<div class="team" id="team">
	<div class="parallax_background" data-image-src="images/teamDetails.jpg"></div>
	<div class="container">
		<h3 class="wthree-title">Team Details</h3>
		<div class="team-grids">
			<section class="main">
				<ul class="ch-grid">
					<!-- Team Member 1 -->
					<li>
						<div class="ch-item ch-img-1">
							<div class="ch-info">
								<h3>Spa Manager</h3>
								<p>by Daniel Nyari</p>
								<div class="footer-bottom">
									<div class="social">
										<ul class="d-flex flex-row align-items-center justify-content-start">
											<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</li>
					<!-- Team Member 2 -->
					<li>
						<div class="ch-item ch-img-2">
							<div class="ch-info">
								<h3>Stylist</h3>
								<p>by Johnathen</p>
								<div class="footer-bottom">
									<div class="social">
										<ul class="d-flex flex-row align-items-center justify-content-start">
											<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</li>
					<!-- Team Member 3 -->
					<li>
						<div class="ch-item ch-img-3">
							<div class="ch-info">
								<h3>Manicurist</h3>
								<p>by Fedrick Paul</p>
								<div class="footer-bottom">
									<div class="social">
										<ul class="d-flex flex-row align-items-center justify-content-start">
											<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</li>
					<!-- Team Member 4 -->
					<li>
						<div class="ch-item ch-img-4">
							<div class="ch-info">
								<h3>Make Up Artist</h3>
								<p>by Stellawil vari</p>
								<div class="footer-bottom">
									<div class="social">
										<ul class="d-flex flex-row align-items-center justify-content-start">
											<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</li>
					<!-- Team Member 5 -->
					<li>
						<div class="ch-item ch-img-5">
							<div class="ch-info">
								<h3>Aesthetician</h3>
								<p>by Stellawil vari</p>
								<div class="footer-bottom">
									<div class="social">
										<ul class="d-flex flex-row align-items-center justify-content-start">
											<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</li>
					<!-- Team Member 6 -->
					<li>
						<div class="ch-item ch-img-6">
							<div class="ch-info">
								<h3>Specialist</h3>
								<p>by Stellawil vari</p>
								<div class="footer-bottom">
									<div class="social">
										<ul class="d-flex flex-row align-items-center justify-content-start">
											<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</section>
		</div>
	</div>
</div>
<!-- //Team Details-->

<% include ./partials/footer %>