<% include ./partials/header %>

<link rel="stylesheet" type="text/css" href="/stylesheets/appointment.css">
</head>

<body>

<div class="super_container">
<a href="#content" class="back-to-top"></a>

<!-- Header -->
<header class="header trans_400">
    <div class="header_content d-flex flex-row align-items-center justify-content-center trans_400">

        <!-- Logo -->
        <div class="logo">
            <a href="index.html">
                <div class="logo-img" style="background-image:url(images/logo2.png)"></div>
            </a>
            <div class="hamburger"><div></div><div></div><div></div></div>
        </div>

        <!-- Main Navigation -->
        <nav class="main_nav">
            <ul class="d-flex flex-row align-items-start justify-content-start">
                <li><a href="/">Home<div><div></div><div></div><div></div></div></a></li>
                <li><a href="services">Services<div><div></div><div></div><div></div></div></a></li>
                <li><a href="products">Products<div><div></div><div></div><div></div></div></a></li>
                <li><a href="aboutUs">About Us<div><div></div><div></div><div></div></div></a></li>
				<li class="active"><a href="appointment" data-toggle="modal" data-target="#addpage">Book Appointment<div><div></div><div></div><div></div></div></a></li>                
            </ul>
        </nav>

    </div>
</header>
<!-- //Header -->

<!-- Book an appointment -->
<div class="footer-section">
    <div class="parallax_background img app" data-image-src="images/appointment.jpg"></div>
    <div class="footer-warp">
        <div class="footer-widgets">
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <div class="row">	
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="footer-widget list-widget">
                                <h4 class="fw-title">Our Services</h4>
                                <ul>
                                    <li><a href="">Manicure</a></li>
                                    <li><a href="">Pedicure</a></li>
                                    <li><a href="">Massage</a></li>
                                    <li><a href="">Spa</a></li>
                                    <li><a href="">Silk Therapy</a></li>
                                    <li><a href="">Beauty Treatments</a></li>
                                    <li><a href="">Threading/a></li>
                                    <li><a href="">Facial</a></li>
                                    <li><a href="">Slimming </a></li>
                                </ul>
                                <!-- <ul>
                                    <li><a href="">Hair Colour</a></li>
                                    <li><a href="">Hair Spa</a></li>
                                    <li><a href="">Hair Spa with Ampule</a></li>
                                    <li><a href="">Wedding Hair</a></li>
                                    <li><a href="">Root Touch Up</a></li>
                                    <li><a href="">Head Wash</a></li>
                                    <li><a href="">Botox</a></li>
                                </ul> -->
                            </div> 
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="footer-widget list-widget">
                                    <br /><br /><br /><br /><br />
                                    <!-- <ul>
                                        <li><a href="">Manicure</a></li>
                                        <li><a href="">Pedicure</a></li>
                                        <li><a href="">Massage</a></li>
                                        <li><a href="">Spa</a></li>
                                        <li><a href="">Silk Therapy</a></li>
                                        <li><a href="">Beauty Treatments</a></li>
                                        <li><a href="">Slimming </a></li>
                                    </ul>  -->
                                    <ul>
                                        <li><a href="">Hair Colour</a></li>
                                        <li><a href="">Hair Spa</a></li>
                                        <li><a href="">Hair Spa with Ampule</a></li>
                                        <li><a href="">Wedding Hair</a></li>
                                        <li><a href="">Root Touch Up</a></li>
                                        <li><a href="">Head Care</a></li>
                                        <li><a href="">Head Wash</a></li>
                                        <li><a href="">Head Massage</a></li>
                                        <li><a href="">Botox</a></li>
                                    </ul>
                                </div> 
                            </div>
                    </div>	
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="footer-widget contact-widget">
                        <h4 class="fw-title">Make an appointment!</h4>
                        <form class="fw-contact-form" action="/appointment" method="GET">
                            <div class="cf-inputs">
                                <div class="cf-input">
                                    <input type="text" class="cf-input" placeholder="Full Name" required="required" name="customer[name]">
                                </div>
                                <div class="cf-input">
                                    <input type="email" class="cf-input" placeholder="Email Address" required="required" name="customer[email]">
                                </div>
                                <div class="cf-input">
                                    <input type="text" class="cf-input" placeholder="Contact Number" required="required" name="customer[number]">
                                </div>
                                <div class="cf-input">
                                    <input type="text" class="cf-input datepicker" placeholder="Desired Date" required="required" name="customer[date]">
                                </div>
                                <!-- <div class="cf-input">
                                    <input type="text" class="cf-input service-reqd" placeholder="Service Required" required="required">
                                </div> -->
                                <div class="cf-input">
                                    <label>Select a Service</label>
                                    <select class="services_provided" id="services_provided" tabindex="1" name="services_provided" >
                                        <option class="select_id" value="Hair Spa">Hair Spa</option>
                                        <option class="select_id" value="Hair Spa With Ampule">Hair Spa With Ampule</option>                                        
                                        <option class="select_id" value="Manicure">Manicure</option>
                                        <option class="select_id" value="Pedicure">Pedicure</option>
                                        <option class="select_id" value="Eye Treatment">Eye Treatment</option>
                                        <option class="select_id"value="Threading">Threading</option>
                                        <option class="select_id"value="Head Wash">Head Wash</option>
                                        <option class="select_id" value="Global">Global</option>
                                        <option class="select_id" value="Facial">Facial</option>
                                        <option class="select_id"value="Dandruff (Hair Treatment)">Dandruff (Hair Treatment)</option>
                                        <option class="select_id" value="Hair Growth and Volume (Hair Treatment)">Hair Growth and Volume (Hair Treatment)</option>
                                        <option class="select_id"value="Silk Therapy">Silk Therapy</option>
                                    </select>
                                </div>
                                <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                            </div>
                            <div class="cf-input">
                                <!-- <label>Message</label> -->
                                <textarea class="cf-input cf-input-textinput cf-input-textarea" placeholder="Type Here..." name="customer[message]" required="required"></textarea>
                            </div>
                            <br /><br /><br />
                            <div class="btn">
                                <button class="site-btn">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>	
    </div>
</div>
<!-- //Book an appointment -->

<% include ./partials/footer %>