<% include ./partials/header %>

<link rel="stylesheet" type="text/css" href="/stylesheets/products.css">
</head>

<body>

<div class="super_container">
<a href="#content" class="back-to-top"></a>

<!-- Header -->
<header class="header trans_400">
    <div class="header_content d-flex flex-row align-items-center justify-content-center trans_400">

        <!-- Logo -->
        <div class="logo">
            <a href="index.html">
                <div class="logo-img" style="background-image:url(images/logo2.png)"></div>
            </a>
            <div class="hamburger"><div></div><div></div><div></div></div>
        </div>

        <!-- Main Navigation -->
        <nav class="main_nav">
            <ul class="d-flex flex-row align-items-start justify-content-start">
                <li><a href="/">Home<div><div></div><div></div><div></div></div></a></li>
                <li><a href="services">Services<div><div></div><div></div><div></div></div></a></li>
                <li class="active"><a href="products">Products<div><div></div><div></div><div></div></div></a></li>
                <li><a href="aboutUs">About Us<div><div></div><div></div><div></div></div></a></li>
				<li ><a href="#" data-toggle="modal" data-target="#addpage">Book Appointment<div><div></div><div></div><div></div></div></a></li>                           
            </ul>
        </nav>

    </div>
</header>
<!-- //Header -->

<!-- Discounts -->
<div class="hero-section set-bg">
    <div class="parallax_background" class="img" data-image-src="images/discount.jpg" style="opacity: 0.7;"></div>
    <div class="container">
        <div class="hero-slider owl-carousel owl-theme">
            <!-- Slider -->
            <div class="hs-item">
                <div class="hs-content text-white">
                    <h2>Discounts!!</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
                    <a href="#" class="site-btn sb-big">See Offers</a>
                </div>
                <div class="hs-preview set-bg" data-setbg="images/discount_item.jpg"></div>
            </div>
            <!-- Slider -->
            <div class="hs-item">
                <div class="hs-content text-white">
                    <h2>Discounts!!</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
                    <a href="#" class="site-btn sb-big">See Offers</a>
                </div>
                <div class="hs-preview set-bg" data-setbg="images/discount_item.jpg"></div>
            </div>
            <!-- Slider -->
            <div class="hs-item">
                <div class="hs-content text-white">
                    <h2>Discounts!!</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
                    <a href="#" class="site-btn sb-big">See Offers</a>
                </div>
                <div class="hs-preview set-bg" data-setbg="images/discount_item.jpg"></div>
            </div>
        </div>
    </div>
</div>
<!-- //Discounts -->

<!-- Products -->
<div class="services" id="services">
    <div class="parallax_background" data-image-src="images/products.jpeg"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="section_title_container">
                    <div class="section_title"><h1>Our Products</h1></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque.</p>
                </div>
            </div>
        </div>
        <div class="row services_row">
            <div class="col">
                <div class="section_expander">
                    <div class="services_slider_container">
                        <div class="owl-carousel owl-theme services_slider">
                            
                            <!-- Slide -->
                            <div class="owl-item">
                                <!-- Product -->
                                <div class="service d-flex flex-row align-items-center justify-content-start trans_200">
                                    <div class="service_content">
                                        <div class="service_title trans_200">Product 1</div>
                                        <div class="service_text trans_200">
                                            <p>In vitae nisi aliquam, scelerisque leo a, volutpat sem. Vivamus rutrum dui ferme ntum eros hendrerit, id lobortis.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Product -->
                                <div class="service d-flex flex-row align-items-center justify-content-start trans_200">
                                    <div class="service_content">
                                        <div class="service_title trans_200">Product 2</div>
                                        <div class="service_text trans_200">
                                            <p>In vitae nisi aliquam, scelerisque leo a, volutpat sem. Vivamus rutrum dui ferme ntum eros hendrerit, id lobortis.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Slide -->
                            <div class="owl-item">
                                <!-- Product -->
                                <div class="service d-flex flex-row align-items-center justify-content-start trans_200">
                                    <div class="service_content">
                                        <div class="service_title trans_200">Product 3</div>
                                        <div class="service_text trans_200">
                                            <p>In vitae nisi aliquam, scelerisque leo a, volutpat sem. Vivamus rutrum dui ferme ntum eros hendrerit, id lobortis.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Product -->
                                <div class="service d-flex flex-row align-items-center justify-content-start trans_200">
                                    <div class="service_content">
                                        <div class="service_title trans_200">Product 4</div>
                                        <div class="service_text trans_200">
                                            <p>In vitae nisi aliquam, scelerisque leo a, volutpat sem. Vivamus rutrum dui ferme ntum eros hendrerit, id lobortis.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Slide -->
                            <div class="owl-item">
                                <!-- Product -->
                                <div class="service d-flex flex-row align-items-center justify-content-start trans_200">
                                    <div class="service_content">
                                        <div class="service_title trans_200">Product 5</div>
                                        <div class="service_text trans_200">
                                            <p>In vitae nisi aliquam, scelerisque leo a, volutpat sem. Vivamus rutrum dui ferme ntum eros hendrerit, id lobortis.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Product -->
                                <div class="service d-flex flex-row align-items-center justify-content-start trans_200">
                                    <div class="service_content">
                                        <div class="service_title trans_200">Product 6</div>
                                        <div class="service_text trans_200">
                                            <p>In vitae nisi aliquam, scelerisque leo a, volutpat sem. Vivamus rutrum dui ferme ntum eros hendrerit, id lobortis.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //Products -->

<% include ./partials/footer %>
