<% include ./partials/header %>

<link rel="stylesheet" type="text/css" href="/stylesheets/services.css">
</head>

<body>

<div class="super_container">
<a href="#content" class="back-to-top"></a>

<!-- Header -->
<header class="header trans_400">
    <div class="header_content d-flex flex-row align-items-center justify-content-center trans_400">

        <!-- Logo -->
        <div class="logo">
            <a href="index.html">
                <div class="logo-img" style="background-image:url(images/logo2.png)"></div>
            </a>
            <div class="hamburger"><div></div><div></div><div></div></div>
        </div>

        <!-- Main Navigation -->
        <nav class="main_nav">
            <ul class="d-flex flex-row align-items-start justify-content-start">
                <li><a href="/">Home<div><div></div><div></div><div></div></div></a></li>
                <li class="active"><a href="services">Services<div><div></div><div></div><div></div></div></a></li>
                <li><a href="products">Products<div><div></div><div></div><div></div></div></a></li>
                <li><a href="aboutUs">About Us<div><div></div><div></div><div></div></div></a></li>
				<li ><a href="appointment" data-toggle="modal" data-target="#addpage">Book Appointment<div><div></div><div></div><div></div></div></a></li>                
            </ul>
        </nav>

    </div>
</header>
<!-- //Header -->

<!-- Services -->
<!-- Hair -->
<div class="section-gap catalogue-area section-1">
    <div class="parallax_background" class="img" data-image-src="images/service1_hair.jpg"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-1 offset-md-2 col-sm-12 col-md-8">
                <div class="tab-area">
                    <div class="tab-contact-wraper" id="horizontalTab1">
                        <h4>HAIR</h4>
                        <div class="jq-tab-menu justify-content-center">
                            <div class="tab1 jq-tab-title active" data-tab="1"><img src="images/icon1.png" alt=""></div>
                            <div class="jq-tab-title" data-tab="2"><img src="images/icon2.png" alt=""></div>
                            <div class="jq-tab-title" data-tab="3"><img src="images/icon3.png" alt=""></div>
                            <div class="jq-tab-title" data-tab="4"><img src="images/icon4.png" alt=""></div>
                        </div>
                        <div class="jq-tab-content-wrapper">
                            <div class="jq-tab-content active" data-tab="1">
                                <h5>Cutting</h5>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus
                                <a href="#" class="view-btn">View Offers...</a>
                            </div>
                            <div class="jq-tab-content" data-tab="2">
                                <h5>Smoothening</h5>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus
                                <a href="#" class="view-btn">View Offers...</a>
                            </div>
                            <div class="jq-tab-content" data-tab="3">
                                <h5>Keratin</h5>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus
                                <a href="#" class="view-btn">View Offers...</a>
                            </div>
                            <div class="jq-tab-content" data-tab="4">
                                <h5>Colour</h5>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus
                                <a href="#" class="view-btn">View Offers...</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Scroll Down -->
    <div class="scroll_to scroll_down" data-scroll-to="#make-up">
        <div class="scroll_icon">
            <div class="chevron"></div>
            <div class="chevron"></div>
            <div class="chevron"></div>
        </div>
        <div class="scroll_text">Scroll down</div>
    </div>
</div>
<!-- //Hair -->

<!-- Make Up -->
<div class="section-gap catalogue-area section-2 make-up" id="make-up">
    <div class="parallax_background" data-image-src="images/service2_makeup.jpg"></div>
    <div class="container">
        <div class="row">
                <div class="tab-area">
                    <div class="tab-contact-wraper" id="horizontalTab2">
                        <h4>MAKE UP</h4>
                        <div class="jq-tab-menu justify-content-center">
                            <div class="tab1 jq-tab-title active" data-tab="1"><img src="images/icon1.png" alt=""></div>
                            <div class="jq-tab-title" data-tab="2"><img src="images/icon2.png" alt=""></div>
                            <div class="jq-tab-title" data-tab="3"><img src="images/icon3.png" alt=""></div>
                            <div class="jq-tab-title" data-tab="4"><img src="images/icon4.png" alt=""></div>
                        </div>
                        <div class="jq-tab-content-wrapper">
                            <div class="jq-tab-content active" data-tab="1">
                                <h5>Cutting</h5>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus
                                <a href="#" class="view-btn">View Offers...</a>
                            </div>
                            <div class="jq-tab-content" data-tab="2">
                                <h5>Smoothening</h5>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus
                                <a href="#" class="view-btn">View Offers...</a>
                            </div>
                            <div class="jq-tab-content" data-tab="3">
                                <h5>Keratin</h5>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus
                                <a href="#" class="view-btn">View Offers...</a>
                            </div>
                            <div class="jq-tab-content" data-tab="4">
                                <h5>Colour</h5>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus
                                <a href="#" class="view-btn">View Offers...</a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
<!-- //Make Up -->

<!-- Treatment -->
<div class="section-gap catalogue-area section-3">
    <div class="parallax_background" class="img" data-image-src="images/service2_treatment.jpg"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-1 offset-md-2 col-sm-12 col-md-8">
                <div class="tab-area">
                    <div class="tab-contact-wraper" id="horizontalTab3">
                        <h4>SKIN TREATMENT</h4>
                        <div class="jq-tab-menu justify-content-center">
                            <div class="tab1 jq-tab-title active" data-tab="1"><img src="images/icon1.png" alt=""></div>
                            <div class="jq-tab-title" data-tab="2"><img src="images/icon2.png" alt=""></div>
                            <div class="jq-tab-title" data-tab="3"><img src="images/icon3.png" alt=""></div>
                            <div class="jq-tab-title" data-tab="4"><img src="images/icon4.png" alt=""></div>
                        </div>
                        <div class="jq-tab-content-wrapper">
                            <div class="jq-tab-content active" data-tab="1">
                                <h5>Cutting</h5>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus
                                <a href="#" class="view-btn">View Offers...</a>
                            </div>
                            <div class="jq-tab-content" data-tab="2">
                                <h5>Smoothening</h5>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus
                                <a href="#" class="view-btn">View Offers...</a>
                            </div>
                            <div class="jq-tab-content" data-tab="3">
                                <h5>Keratin</h5>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus
                                <a href="#" class="view-btn">View Offers...</a>
                            </div>
                            <div class="jq-tab-content" data-tab="4">
                                <h5>Colour</h5>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus
                                <a href="#" class="view-btn">View Offers...</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //Treatment -->

<!-- Combos -->
<div class="memberships-section">
    <div class="parallax_background" class="img" data-image-src="images/combos.jpg" style="opacity: 0.01;"></div>
    <div class="container">
        <div class="section-title text-white">
            <h2>Special Combos</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="team-member memberships-card">
                    <img src="images/combo_item.jpg" alt="">
                    <div class="tm-info">
                        <h2>Premium Pack</h2>
                        <p>Price</p>
                        <a href="#"><img src="images/arrow-down.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-member memberships-card">
                    <img src="images/combo_item.jpg" alt="">
                    <div class="tm-info">
                        <h2>Gold Pack</h2>
                        <p>Price</p>
                        <a href="#"><img src="images/arrow-down.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-member memberships-card">
                    <img src="images/combo_item.jpg" alt="">
                    <div class="tm-info">
                        <h2>VIP Pack</h2>
                        <p>Price</p>
                        <a href="#"><img src="images/arrow-down.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //Combos -->

<% include ./partials/footer %>
